@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<backend.Model.Projection.CustomerProjection>
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["ShowCustomer"];
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col" clas="col-1">@Localizer["Edit"]</th>
            <th scope="col" clas="col-2">@Localizer["Delete"]</th>
            <th scope="col">@Localizer["Number"]</th>
            <th scope="col">@Localizer["FirstName"]</th>
            <th scope="col">@Localizer["LastName"]</th>
            <th scope="col">@Localizer["ShortAddress"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerProjection in Model)
        {
        <tr>
            <th scope="row"><a href="@(Url.Action("Edit", "Customer", new {id=customerProjection.CustomerId}))"><i class="fa fa-pencil"></i></a></th>
            <th><a href="@(Url.Action("Delete", "Customer", new {id=customerProjection.CustomerId}))"><i class="fa fa-trash"></i></a></th>
            <th>@customerProjection.Number</th>
            <th>@customerProjection.FirstName</th>
            <th>@customerProjection.LastName</th>
            <th>@customerProjection.ShortAddress</th>
        </tr>
        }
    </tbody>
</table>
